<div class="container">
    <div class="jumbotron">
    <h1>
    <span>H</span>
    <span>A</span>
    <span>P</span>
    <span>P</span>
    <span>Y</span>
    <span>*</span>
    <span>B</span>
    <span>U</span>
    <span>R</span>
    <span>G</span>
    <span>E</span>
    <span>R</span>
</h1>
<br>
<h2 id="color-override"></h2>
<br>
<div class="carousel">
    <div class="carousel-item">
        <img src="/public/assets/img/img1.PNG">
        <h3>Mushroom Swiss Burger</h3>
    </div>
    <div class="carousel-item">
        <img src="/public/assets/img/img2.PNG">
        <h3>Kawaii Rice Burger</h3>
    </div>
    <div class="carousel-item">
        <img src="/public/assets/img/img3.PNG">
        <h3>Double Bacon Chesse Burger</h3>
    </div>
    <div class="carousel-item">
        <img src="/public/assets/img/img4.PNG">
        <h3>Teriyaki Rice Burger</h3>
    </div>
    <div class="carousel-item">
        <img src="/public/assets/img/img5.PNG">
        <h3>Vegan Burger</h3>
    </div>
    <div class="carousel-item">
        <img src="/public/assets/img/img6.PNG">
        <h3>Cauliflower Patty Burger</h3>
    </div>

</div>
    </div>
</div>

