<h1>
    <span>H</span>
    <span>A</span>
    <span>P</span>
    <span>P</span>
    <span>Y</span>
    <span>*</span>
    <span>B</span>
    <span>U</span>
    <span>R</span>
    <span>G</span>
    <span>E</span>
    <span>R</span>
</h1>